.item-card {
  box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  margin: 15px 20px 10px 20px;
  min-height: 150px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.item-card:hover {
  transform: scale(1.02);
}

.card-content-container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-content: center;
  padding: 20px;
}

.left-container {
  display: flex;
  align-items: center;
}

.card-img {
  margin-right: 8px;
}

.card-img-contribution {
  margin-right: 15px;
}

.card-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-infos > h3 {
  margin-bottom: 5px;
}

.card-tags {
  display: flex;
  flex-wrap: wrap;
  // margin-top: 10px;
}

.a-tag {
  margin-right: 8px;
  margin-top: 10px;
}

.card-state {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.location-container {
  display: flex;
  flex-direction: column;
}

.location-container > span:last-child {
  margin-top: 5px;
}
