.dashboard-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-row-gap: 10px;
  height: 94vh;
}

.left-block {
  grid-area: 1 / 1 / 6 / 3;
  background-color: white;
  z-index: 500;
  display: flex;
  flex-direction: column;
}

.left-block-top {
  margin-left: 15px;
  margin-right: 15px;
}

.right-block {
  grid-area: 1 / 3 / 6 / 6;
}

.card-list {
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  height: 100%;

}

.card-list::-webkit-scrollbar {
  display: none;
}
