.dashboard-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-row-gap: 10px;
  height: 94.5vh;
}

.left-block {
  grid-area: 1 / 1 / 6 / 3;
  background-color: white;
  z-index: 500;
  box-shadow: 25px 47px 100px -49px rgba(0, 0, 0, 0.69);
}

.right-block {
  grid-area: 1 / 3 / 6 / 6;
  background-color: lightgray;
}

.left-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 1fr);
  // grid-row-gap: 1px;
  height: 100%;
}

.left-block-top {
  grid-area: 1 / 1 / 2 / 3;
  // background-color: lightpink;
}

.card-list {
  grid-area: 2 / 1 / 8 / 3;
  display: grid;
  grid-row-gap: 10px;
}

.item-card {
  background-color: lightgray;
  grid-row: repeat(auto-fill, 1fr);
}

.searchbar {
  // padding: 10px;
}
