.project-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-row-gap: 10px;
  height: 100%;
}

.project-info {
  grid-area: 1 / 1 / 3 / 4;
  background-color: lightskyblue;
}
.progress-gauge {
  grid-area: 3 / 1 / 4 / 4;
  background-color: lightskyblue;
}
.contributors {
  grid-area: 4 / 1 / 6 / 4;
  background-color: lightskyblue;
}
