.searchbar {
  border: none;
  background-color: hsl(0, 0%, 96%);
}

.LocationAutoComplete {
  margin-top: 10px;
}

.checkbox-container {
  margin: 20px 0px 20px 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.checkbox > input {
  display: none;
}

.checkbox-container > label:not(:last-child) {
  margin-right: 10px;
}

.checkbox-container > span {
  margin-right: 5px;
}

ul.location-autocomplete-results {
  margin-top: 10px;
}

.location-autocomplete-items {
  margin-left: 35px;
  padding: 8px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.location-autocomplete-items:hover {
  background-color: #f0ecfd;
  color: #603cea !important;
  transition: all 0.15s ease-in-out;
}

.projects-found {
  display: flex;
  align-items: center;
}

.projects-found h3 {
  margin-right: 10px;
}
