.searchbar {
  border: none;
  background-color: hsl(0, 0%, 96%);
}

.LocationAutoComplete {
  margin-top: 10px;
}

.checkbox-container {
  margin: 20px 0px 20px 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.checkbox > input {
  display: none;
}

.checkbox-container > label:not(:last-child) {
  margin-right: 10px;
}

.checkbox-container > span {
  margin-right: 5px;
}
